

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
	box-sizing: border-box;
}
body {
	background: #2F3747;
}
.btn {
	padding: 10px 20px;
}
.container {
	width: 100%;
	margin: 3%;
}
@media (min-width: 1250px) {
	.container {
		margin: 3% auto;
		max-width: 1150px;
	}
}
















